/* .menu-icon {
    font-size: 30px;
    color: black;
    cursor: pointer;
  } */
  
  /* Style pour le menu (par défaut, il est masqué) */
  .menu {
    display: none;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #17416f;
    position: absolute;
    top: 91%;
    /* left: -12px; */
    /* width: 400px; */
    /* height: 500px; */
    border-top-right-radius: 30px;
    padding: 30px;
    z-index: 1000;
    box-shadow: 0px 1px 70px 0px rgb(0 0 0 / 35%);
    transition: ease 0.3s;
  }
  @media (max-width: 1467px) {
    .menu {
      /* width: 400px; */
      display: none;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      /* height: 370px; */
    }
    .don{
      padding: 5px 15px !important;
      margin: 15px 0;
    }
  }
  @media (max-width: 767px) {
    .menu {
      /* width: 90%;
      display: none;
      flex-direction: column;
      justify-content: center;
      height: 40vh; */
    }
  }
  @media (max-width: 567px) {
    .menu {
      /* width: 90%;
      display: none;
      flex-direction: column;
      justify-content: center;
      height: 75vh; */
    }
  }
  
  .menu a {
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    background-color: transparent;
  }
  
  /* Affiche le menu lorsqu'il est ouvert */
  .menu.active {
    display: flex;
  }

  .ppoo::placeholder{
    padding-left: 2rem;
  }
  .ppoo:focus-visible{
    outline: none;
    box-shadow: 0 0 .5px .5px #0000001A;
  }
  /* Positionnement initial de l'icône */
  .ppo-container {
    top: 50%;
    left: 5px; /* Position initiale */
    transform: translateY(-50%);
    transition: left 0.3s ease-in-out;
  }
  
  .ppoo:focus + .ppo-container {
    left: 85%; /* Décale l'icône vers la droite */
  }

  .list-unstyled li:hover {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    transition: ease-in-out 0.6s;
}