/* .menu-icon {
    font-size: 30px;
    color: black;
    cursor: pointer;
  } */
  
  /* Style pour le menu (par défaut, il est masqué) */
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #17416F;
    position: absolute;
    top: 100%;
    left: -12px;
    width: 50%;
    height: 70vh;
    border-top-right-radius: 30px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  @media (max-width: 767px) {
    .menu {
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  .menu a {
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    background-color: transparent;
  }
  
  /* Affiche le menu lorsqu'il est ouvert */
  .menu.active {
    display: flex;
  }

  .ppoo::placeholder{
    padding-left: 2rem;
  }
  .ppoo:focus-visible{
    outline: none;
    box-shadow: 0 0 .5px .5px #0000001A;
  }
  /* Positionnement initial de l'icône */
  .ppo-container {
    top: 50%;
    left: 5px; /* Position initiale */
    transform: translateY(-50%);
    transition: left 0.3s ease-in-out;
  }
  
  .ppoo:focus + .ppo-container {
    left: 85%; /* Décale l'icône vers la droite */
  }