body {
  overflow-x: hidden !important;
}
.comm{
  padding: 0 6rem;
}
@media (max-width: 800px) {
  .comm{
    padding: 0;
  }
  .mybanner .mybannercontent {
    height: 60vh !important;
  }
}
@media (max-width: 400px) {
  .mybanner .mybannercontent {
    height: 70vh !important;
  }
  .ibb{
    display: none;
  }
}
.mybanner .mybannercontent {
  height: 70vh;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.2;
  transition: opacity .15s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4rem !important;
  height: 4rem !important;
}

/* .carousel-control-next{
  top: 56% !important;
} */
.carousel-content,
.virtualtoursect .carousel-content {
  position: relative;
  text-align: justify;
  /* border-top-right-radius: 30px !important; */
  background-image: url('../assets/G101.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  background: #17416F;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 25px;
  margin-left: 10px;
}

.carousel-content.carrousseltwo {
  background: #13AB9C;
}

.carousel-content.carrousseltwo li a {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 55px;
}

.carousel-content .carrousseltextcont h2,
.virtualtoursect .carousel-content h2,
.servicecont h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;

}

.carousel-content .carrousseltextcont p {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

}

.image-container img {
  width: 100%;
  margin-left: -20px;
  height: 60vh;
  object-fit: cover;
}

@media (max-width: 770px) {
  .image-container img {
    width: 100%;
    margin-left: 0px;
    height: 60vh;
    object-fit: cover;
  }

  .wm {
    width: 100%;
  }
}

.wm {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* meetteam */
.meetteam h3 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  color: #17416F;
}

.meetteam p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #13AB9C;
}

.hhe {
  background-image: url('../assets/Mask2.png');
  background-size: contain;
  /* Assure que l'image est affichée en entier */
  background-repeat: no-repeat;
  /* Évite la répétition de l'image */
  background-position: center;
  /* Centre l'image */
  width: 100vw;
  /* Occupe toute la largeur de l'écran */
  height: 100vh;
  /* Occupe toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .hhe {
    background-image: url('../assets/Mask2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    padding: 0px !important;
    height: 50vh;
    display: flex;
  }
}
@media (max-width: 400px) {
  .hhe {
    background-image: url('../assets/Mask2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    padding: 0px !important;
    height: 70vh;
    display: flex;
  }
}

.hhe h3 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #17416F;
}

.hhe .healthcont img {
  width: 80px;
  height: 80px;
}

.hhe .healthcont p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #17416F;
}

.healthcont .btn-yt {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.healthcont svg {
  width: 100 !important;
  height: 100 !important;
}

.title-certifications {
  color: #17416F;
  position: relative;
  display: inline-block;
  /* Pour que la bordure s'ajuste à la largeur du texte */
  padding-bottom: 10px;
  /* Espacement entre le texte et la bordure */
}

.title-certifications::after {
  content: "";
  display: block;
  width: 38vw;
  /* La bordure prend toute la largeur du texte */
  height: 3px;
  /* Épaisseur de la bordure */
  background-color: #17416F;
  position: absolute;
  bottom: 50%;
  left: 104%;
}

@media (max-width: 1000px) {
  .title-certifications::after {
    content: "";
    display: block;
    width: 100%;
    /* La bordure prend toute la largeur du texte */
    height: 3px;
    /* Épaisseur de la bordure */
    background-color: #17416F;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.position {
  position: absolute;
  top: 100%;
  right: -15%;
  transform: translateY(-50%);
}

.position1 {
  position: absolute;
  top: 100%;
  left: 150%;
  transform: translateY(-50%);
}
@media (max-width: 970px) {
  .position {
    display: none;
  }
  .position1 {
    display: none;
  }
}
.pott {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%);
}

.custom-carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.custom-carousel {
  display: flex;
  /* gap: 10px; */
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-carousel::-webkit-scrollbar {
  display: none;
}

.custom-carousel-item {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.custom-carousel-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
  .custom-carousel-item {
    width: 24%;
  }
}

@media (max-width: 768px) {
  .custom-carousel-item {
    width: 48%;
  }
  .vpl{
    display: none !important;
  }
}

.ppo1 {
  width: 80px;
  position: absolute;
  top: 80%;
  left: 5%;
  z-index: 10000;
}

.event-card {
  border-top-right-radius: 30px;
}

.event-day {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13AB9C;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  height: 50px;
  width: 80px;
}

.event-date {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17416F;
  font-weight: 700;
  height: 40px;
  padding: 3px;
}

.event-title {
  font-size: 15px;
  font-weight: 700;
  color: #17416F;
}

.event-divider {
  display: block;
  border-bottom: 1px solid #17416F;
  margin: 10px 0;
}

.event-read-more {
  color: #17416F;
  font-weight: 700;
  text-decoration: none;
}

.event-read-more:hover {
  text-decoration: underline;
}

.main-img {
  border-top-right-radius: 30px;
  height: 45vh;
  object-fit: cover;
}

@media (max-width: 1368px) {
  .main-img {
    border-top-right-radius: 30px;
    height: 65vh;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .main-img {
    border-top-right-radius: 30px;
    height: 50vh;
    object-fit: cover;
  }
}


.main-img1 {
  height: 55vh;
  object-fit: cover;
}

@media (max-width: 1368px) {
  .main-img1 {
    height: 80vh;
    object-fit: cover;
  }
}

@media (max-width: 968px) {
  .main-img1 {
    padding: 0px !important;
    height: 40vh;
    object-fit: cover;
  }
  .overlay-img {
    display: none;
  }
  .abso {
    display: none;
  }
}

.overlay-img {
  top: 30%;
  right: -7%;
  transform: translateY(-50%);
}

.small-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.section-title {
  color: #17416F;
  text-transform: uppercase;
  font-weight: 700;
}

.section-text {
  color: #17416F;
}

.extra-content {
  display: block;
}

.toggle-button {
  background-color: #13AB9C;
  color: white;
}

.Big {
  height: 218px;
  margin-top: 100px;
}
.flx{
  width: 40vw; 
  height: 60vh;
}
.vpc{
  width: 40%;
}
@media (max-width: 968px) {
  .Big {
    height: auto;
    margin-top: 0px;
  }
  .flx{
    width: 100%; 
    height: 60vh;
  }
  .vpc{
    width: 80%;
  }
}
.home-title {
  font-size: clamp(25px, 8vw, 35px);
  font-weight: 700;
}

.btn-custom {
  border: 1px solid white;
}

.nurse-container {
  position: relative;
  width: 500px;
}

.man {
  position: absolute;
  top: -10.3rem;
  left: -5rem;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  max-width: 500px;
}

/* .man {
  position: absolute;
  top: -3.1rem;
  left: -5rem;
  height: auto;
  transition: all 0.3s ease;
} */
/* @media (min-width: 1568px) {
  .man {
    position: absolute;
    top: -9.2rem;
    left: -15rem;
    width: 500px;
    height: auto;
    transition: all 0.3s ease;
  }
} */
.feedback-title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.feedback-button {
  color: white;
  border: 1px solid white;
}

/* .Big{
  height: 40vh;
  margin-top: 100px;
} */
.footer-title {
  font-size: clamp(20px, 8vw, 25px);
  color: #17416F;
}

.footer-text {
  color: #17416F;
  font-size: clamp(16px, 8vw, 20px);
}

.social-icon {
  font-size: clamp(16px, 8vw, 25px);
  color: #17416F;
  margin-right: 10px;
}

.copyright-text {
  font-size: clamp(16px, 8vw, 20px);
  color: #17416F;
}

.separator {
  border-bottom: 2px solid black;
}

.chat-icon {
  width: 35px;
}

.ppoo::placeholder {
  padding-left: 1rem;
}

.ppoo:focus-visible {
  outline: none;
  box-shadow: 0 0 .5px .5px #0000001A;
}

/* Positionnement initial de l'icône */
.ppo-container {
  top: 50%;
  left: 5px;
  /* Position initiale */
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out;
}

.ppoo:focus+.ppo-container {
  left: 85%;
  /* Décale l'icône vers la droite */
}

.poss {
  top: 50%;
  right: 5px;
  transform: translateY(-50%)
}

.ppo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: #13AB9C;  */
  color: black;
}

.ppos {
  position: absolute;
  right: 10px;
  top: -60px;
}

@media (max-width: 800px) {
  .cov {
    height: 30vh !important;
  }
}

.hover:hover {
  background-color: #13AB9C;
  color: white;
}

.back:hover {
  background-color: #17416F !important;
}

.edn {
  position: absolute;
  top: 80%;
  right: 10px;
  transform: translateY(-50%);
}

.fifth-column .scur {
  margin-top: -4.5rem !important;
}

@media (max-width: 1000px) {
  .fifth-column .scur {
    margin-top: 0rem !important;
  }
}

.abso {
  position: absolute;
  right: -15%;
  top: 80%;
  z-index: 100;
}